<form [formGroup]="form" class="form-filter">

    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input formControlName="name LIKE" matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input formControlName="email LIKE" matInput>
    </mat-form-field>

    <mat-form-field>
        <mat-label>CPF</mat-label>
        <input formControlName="cpf =" mask="00.000.000/0000-00" matInput>
    </mat-form-field>

    <button (click)="onClear()" class="btn-remove">Limpar</button>
    <button (click)="onSearch()" class="btn-search">Filtrar</button>
</form>
