<!--<header>-->
<!--    <div class="header-home">-->
<!--      <div class="header-home-inner">-->
<!--        <div class="row mx-0">-->
<!--          <div class="col-lg-3">-->
<!--            <div class="logo-cnt cursor-pointer" (click)="gotoHome()" ><img src="assets/images/home-banner-3.jpg"  /></div>-->
<!--          </div>-->
<!--          &lt;!&ndash; Login form design start &ndash;&gt;-->
<!--          &lt;!&ndash; <div class="col-lg-9 mx-auto">-->
<!--          </div> &ndash;&gt;-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </header>-->
