<button (click)="onClose()" aria-label="Close" class="btn-close-popup">
    <i class="ic-close"></i>
</button>
<h2 mat-dialog-title> {{nameSingular}} </h2>
<form (ngSubmit)="onFormSubmit()" [formGroup]="form" class="form-manage">

    <br>
    <mat-form-field>
        <mat-label>Senha atual</mat-label>
        <input formControlName="current_password" matInput maxlength="25" minlength="6" required type="password">
        <mat-error *ngIf="hasError('current_password')">{{getMessageError('current_password')}}</mat-error>
    </mat-form-field>

    <br>
    <mat-form-field>
        <mat-label>Nova senha</mat-label>
        <input formControlName="new_password" matInput maxlength="25" minlength="6" required type="password">
        <mat-error *ngIf="hasError('new_password')">{{getMessageError('new_password')}}</mat-error>
    </mat-form-field>

    <br>
    <mat-form-field>
        <mat-label>Confirmação senha</mat-label>
        <input formControlName="confirm_new_password" matInput maxlength="25" minlength="6" required type="password">
        <mat-error *ngIf="hasError('confirm_new_password')">{{getMessageError('confirm_new_password')}}</mat-error>
    </mat-form-field>

    <br>
    <button type="submit">Salvar</button>
</form>
