<button (click)="onClose()" aria-label="Close" class="btn-close-popup">
    <i class="ic-close"></i>
</button>
<h2 mat-dialog-title> {{nameSingular}} </h2>

<form (ngSubmit)="onFormSubmit()" [formGroup]="form" class="form-manage">

    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input formControlName="name" matInput required>
        <mat-error *ngIf="hasError('name')">{{getMessageError('name')}}</mat-error>
    </mat-form-field>

    <br>
    <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input formControlName="email" matInput required>
        <mat-error *ngIf="hasError('email')">{{getMessageError('email')}}</mat-error>
    </mat-form-field>

    <br>
    <mat-form-field>
        <mat-label>CPF</mat-label>
        <input formControlName="cpf" mask="000.000.000-00" matInput required>
        <mat-error *ngIf="hasError('cpf')">{{getMessageError('cpf')}}</mat-error>
    </mat-form-field>


    <br>
    <mat-form-field>
        <mat-label>Estado</mat-label>
        <mat-select (selectionChange)="getCities()" formControlName="state_id" required>
            <mat-option *ngFor="let option of states" value="{{ option.id }}">{{ option.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('state_id')">{{getMessageError('state_id')}}</mat-error>
    </mat-form-field>

    <br>
    <mat-form-field>
        <mat-label>Cidade</mat-label>
        <mat-select formControlName="city_id" required>
            <mat-option *ngFor="let option of cities" value="{{ option.id }}">{{ option.name }}</mat-option>
        </mat-select>
        <mat-error *ngIf="hasError('city_id')">{{getMessageError('city_id')}}</mat-error>
    </mat-form-field>

    <div *ngIf="!id">
        <br>
        <mat-form-field>
            <mat-label>Login</mat-label>
            <input (change)="onContains(table.USER, 'login')" formControlName="login" matInput maxlength="25"
                   minlength="3">
            <mat-error *ngIf="hasError('login')">{{getMessageError('login')}}</mat-error>
        </mat-form-field>

        <br>
        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input formControlName="password" matInput type="password">
            <mat-error *ngIf="form.controls.login.hasError('password')">Senha é obrigatório</mat-error>
            <mat-error *ngIf="form.controls.login.hasError('password')">Senha precisa ter pelo menos 3 caracteres
            </mat-error>
        </mat-form-field>
    </div>

    <mat-dialog-actions>
        <button type="submit">Salvar</button>
    </mat-dialog-actions>
</form>
