<mat-card>
    <br><br><br><br>
    <mat-card-title align="center">Agencia de Viagens</mat-card-title>
    <br><br>
    <span>Uma senha temporária será enviada para o seu telefone ou email. Informe seu telefone ou email cadastrado no sistema.</span>
    <mat-card-content>
        <form (ngSubmit)="onFormSubmit()" [formGroup]="form">
            <mat-form-field>
                <mat-label>Informe seu telefone ou email</mat-label>
                <input formControlName="field" matInput required>
                <mat-error *ngIf="hasError('field')">{{getMessageError('field')}}</mat-error>
            </mat-form-field>

            <div class="button">
                <button (click)="sendMail()" class="button-login" mat-raised-button type="submit">Enviar</button>
            </div>
        </form>
    </mat-card-content>
</mat-card>
